<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
    <h1>Weather Data API</h1>

    <!-- Description of URL format -->
    <p><strong>URL Format:</strong> http://127.0.0.1:5000/api/v1/station/date</p>

    <!-- Example of a URL for reference -->
    <p><strong>For one station for one date:</strong> http://127.0.0.1:5000/api/v1/10/1988-10-25</p>
    <p><strong>For one station for all dates:</strong> http://127.0.0.1:5000/api/v1/10</p>
    <p><strong>For one station for one year:</strong> http://127.0.0.1:5000/api/v1/yearly/10/1988</p>

    <!-- Display station data in HTML format -->
    <p>{{data|safe}}</p>
</body>
</html>